<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="6254spikie.ChildrenObservations" Publisher="CN=EE85651C-874F-411C-B960-7E18C16FDA59" Version="1.0.0.1" />
  <Properties>
    <DisplayName>ChildrenObservations</DisplayName>
    <PublisherDisplayName>NicoVermeir</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ChildrenObservations.App">
      <VisualElements DisplayName="ChildrenObservations" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ChildrenObservations" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>